<div class="p-5 rounded-lg shadow-md bg-slate-100 mb-12">
  <!-- 動画埋め込み -->
  <div class="flex justify-center">
    <iframe src="https://www.youtube.com/embed/<%= alarm.viewed_video.video_id %>" 
            width="560" height="200"
            frameborder="0" allowfullscreen>
    </iframe>
  </div>
  
  <!-- ユーザー名 -->
  <div class="mt-5 mb-2">
    <span class="font-bold">ユーザー名:</span> <%= current_user.name %>
  </div>
  
  <!-- 起床時刻 -->
  <div class="mb-2">
    <span class="font-bold">起床時刻:</span> <%= alarm.wake_up_time.strftime("%H:%M") %>
  </div>
</div>