<div class="mb-6 mx-80 p-5 flex justify-between items-center rounded shadow-md bg-slate-100">
  <div class="ml-12">
    <span class="text-xl mr-4"><%= rank %>位</span>
    <span class="font-bold"><%= user.name %></span>
  </div>
  <div class="text-right mr-12">
    <p>合計回数: <%= user.alarm_count %>回</p>
  </div>
</div>
