<%= form_with model: @alarm, url: alarms_path, local: true, id: 'alarms-form' do |form| %>
  <div id="alarms-fields">
    <%= render 'alarm_fields', form: form, alarm: Alarm.new, index: 0 %>
  </div>

  <%= button_tag 'アラームを追加', type: 'button', id: 'add-alarm-button' %>
  <%= form.submit "Save Alarms" %>
<% end %>
