<header>
  <div class="navbar bg-orange-300">
    <div class="flex-1 px-10">
      <%= link_to "わらいず", root_path, class: "btn btn-ghost normal-case text-xl" %>
    </div>
    <div class="flex-none px-10">
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to "早起き一覧", alarms_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      </ul>
    </div>
  </div>
</header>