<footer class="footer footer-center p-10 bg-orange-300">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "お問い合わせ", "#" , class: "link link-hover" %>
    <%= link_to "利用規約", "#" , class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", "#" , class: "link link-hover" %>
  </nav> 
  <aside>
    <p>Copyright © 2023 - All right reserved by warise Ltd</p>
  </aside>
</footer>