<% content_for(:title, "404エラー") %>
<div class="min-h-screen flex flex-col px-5 md:px-10 bg-white">
  <h1 class="pt-10">404エラー：お探しのページが見つかりません</h1>
  <p class="mb-10 mt-5">お探しのページは見つかりませんでした。以下の原因が考えられます。<br>・ページが削除または移動された<br>・ご指定のURLが間違っていた<br>解決しない場合は下記のリンクからTopページにお戻り下さい。</p>
  <div><%= link_to "トップページに戻る", root_path, class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-4 px-6 rounded" %></div>
</div>
