<% content_for(:title, "500エラー") %>
<div class="min-h-screen flex flex-col px-5 md:px-10 bg-white">
  <h1 class="pt-10">500エラー：WaRise.側で問題が発生しました</h1>
  <p class="mb-10 mt-5">アクセスしようとしたページは表示できませんでした。<br>下記のリンクからTopページにお戻り下さい。</p>
  <div><%= link_to "トップページに戻る", root_path, class: "bg-yellow-300 hover:bg-yellow-400 font-bold py-4 px-6 rounded" %></div>
</div>
